.mainContainer {
  display: grid;
  /* grid-gap: 6px; */
  height: 100% ;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 20% 50% auto;
  grid-template-areas: 
      "n"
      "l"
      "h"
      "a"
      "f";    
      
}
.logo {
  grid-area: l;
}
.scroll {
  grid-area: h;
}

nav {
  grid-area: n;  
}

header {
  grid-area: h;
}

article {
  grid-area: a; 
}

footer {
  grid-area: f;
}

