html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: lightgray;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

#title{
    margin-top: 0px;
    text-align: center;
    padding-top: 70px;
}

h1{
    margin-left: 0px;
    padding-top:30px;
}

h2{
    margin-left: 0px;
    padding-top:70px;
    text-align: center;
}

.hotbar{
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    padding-top:20px;
    align-content: center;
    background-color: lightgray;
}

svg{
    margin-top:-10px;
    transform: scale(.5);
}

a {
    display: inline;
}    

nav{
    position: fixed;
}
/* 
div{
    background-color: lightgray;
    /* margin: 10px; */
/* } */

#cname {
    background-color: lightgrey;
    width: 300px;
    border: 2px solid black;
    padding: 10px;
  }

#comment{
    background-color: lightgrey;
    width: 300px;
    border: 2px solid black;
    padding: 100px;
}

.margin{
    margin: 10px;
}

#intypebox{
    color: darkgray;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-image: url(/img/Background\ image.svg)
}

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
  
.card {
    display: inline-block;
    width: 1fr;
    height: 1fr;
    background-color: #a0829e;
}

#chart{
    transform: scale(.6);
    width: 600px;
    margin: 0px;
}

#profile{
    height: 300px;
    width: 200px;
    align-content: center;
    margin:0px;
}

.resume{
    padding-left: 15px;
}
/* .image{
    transform: scale(.5);
    margin: 0;
} */
    /* ==================================
    Animation Station
     ==================================*/

     .hotbar:hover{
         background-color: darkgray;
     }